body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

h1 {
    text-align: center;

}

.product {
    width: 500px;
    border-radius: 10px;
    border: 10px;
    border-color: whitesmoke;
    margin-top: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    justify-content: space-around;
}

.image {
    padding-bottom: 5rem;
    background-size: contain;
    background-position: center;
    width: 490px;
    height: 195px;
}


.cm {
    margin-bottom: 0%;
    margin-left: 2rem;
}

.comson {

    width: 500px;
}