body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 18, 18);
    color: whitesmoke;
}

h1 {
    text-align: center;

}

#product {
    margin: 100px;
    margin-top: 50px;
    margin-right: 105rem;
    border-radius: 1rem;
    margin-left: 2rem;

}

.image {
    padding-bottom: 5rem;
}

#commingsoon {
    margin: 100px;
    margin-top: 50px;
    margin-right: 105rem;
    margin-left: 2rem;
}

.cm {
    margin-bottom: 0%;
    margin-left: 2rem;
}